.post-title-post {
    text-decoration: none;
    color: var(--font-post-title);
    font-size: 2rem;
    margin: 0 0 0.5rem;
}

.post-details-container {
    display: grid;
    grid-template-columns: 5rem 1fr;
    max-width: 70rem;
    /* border: 1px solid var(--modal-border); */
    border-radius: 1rem;
    margin: 1rem 0 2rem;
    /* padding: 1rem; */
    background-color: var(--bg-base);
}

.post-page {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
    padding: 2rem;
    padding-right: 0;
}

#post-edit-btn {
    margin-left: 0;
}

.comment-form {
    display: flex;
    align-items: flex-end;
    margin: 1rem 2rem 1rem 5rem;
}

.comment-btn {
    font-size: 1rem;
    padding: 0.5rem;
    height: fit-content;
    margin-left: 1rem;
}

.comment-input {
    min-width: 20rem;
}

.post-image {
    max-width: 50rem;
    max-height: 60rem;
    margin-bottom: 0.5rem;
}

.comment-section {
    margin: 1rem 0 1rem 5rem;
    padding-left: 0;
}

.comment-section.one,
.comment-section.odd,
.comment-section.even {
    margin-left: 0.5rem;
}

.comment-section.odd,
.comment-section.one {
    background-color: var(--bg-base);
}

.comment-section,
.comment-section.even {
    background-color: #191b1d;
}

.comment-username {
    font-weight: bold;
}

.comment-edit-btns {
    display: flex;
}

.edit-comment-btn {
    margin-right: 1rem;
    border-radius: 4px;
}

.comments-title {
    margin-left: 5rem;
    margin-bottom: 0rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--font-light-blue);
}

.comment-container {
    padding: 1rem;
    max-width: 100%;
    border: 1px solid #475864;
    /* border-bottom: 0px; */
}

.comment-edit-input {
    margin: 0.5rem 0 0.5rem;
    width: 20rem;
}

.comment-errors {
    margin-left: 5rem;
}

.comment-reply-form {
    margin-top: 0.5rem;
}

.comment-reply-btns {
    display: flex;
    margin: 0.5rem 0 0;
}

.reply-comment-btn {
    margin-right: 1rem;
    border-radius: 4px;
}

.comment-content {
    max-width: 60rem;
    word-wrap: break-word;
}
